* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #353434;
    color: #fff;
}

.list {
    display: flex;
}


.sideBar {
    height: 100%;
    width: 50;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #dc2430, #bf0000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #dc2430, #bf0000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.page {
    margin: 20px 20px 20px 70px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 20px;
}

.row {
    display: flex;
    flex-direction: column;
}

.toplist {
    display: flex;
    flex-direction: column;
}

.blockList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 15px;
    color: #fff;
    background: #4d4d4d;
}
.list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.button{
    background: #d52738;
    padding: 5px;
    border-radius: 8px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 13px;
    color: #fff;
    transition: 0.2s;
    border: none;
}
.button:hover{
    background: #ae202d;
}

.title{
    font-size: 30px;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
    font-weight: 900;
}
.titleFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.error{
    margin-bottom: 20px;
    background: #ba6969;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
}

.subtitle {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    text-align: center;
}
.sublink{
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 5px 10px;
    color: #4141de;
    text-decoration: underline;
    transition: 0.2s;
    cursor: pointer;
}
.sublink:hover{
    color: #2b2b9f;
}

.name {
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.subname {
    font-size: 12px;
    font-family: "Inter", sans-serif;
}

.place,.placestart {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    margin-right: 10px;
    font-weight: 700;
}
.mheader{
    display: none;
}
.menu{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}
.menu .logo{
    border-bottom: solid 1px #efefef;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 40px;
}
.menu .icon{
    filter: invert(100%);
    width: 25px;
    margin: 5px 0;
    transition: 0.2s;
}
.icon:hover{
    filter: invert(80%);
}
.mheader .logo{
    width: 40px;
}
.mheader .icon{
    filter: invert(100%);
    width: 25px;
    margin: 0 5px;
    transition: 0.2s;
}

@media (max-width: 650px) {
    .content{
        grid-template-columns: 1fr;
    }
    .sidebar{
        display: none;
    }
    .page{
        margin: 70px 40px 40px 40px;
    }
    .mheader{
        display: flex !important;
        height: 50;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #7b4397;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #dc2430, #bf0000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #dc2430, #bf0000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        box-shadow: 0px 7px 19px 10px rgb(51 45 45 / 80%);
    }
    .title{
        text-align: center;
    }
    .titleFlex{
        flex-direction: column;
    }
}

.toptitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.changeTimePeriod{
    display: none;
    background: #8cff8e;
    padding: 10px;
    border-radius: 15px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
}
.changetimeperiod form{
    margin-top: 10px;
}
.changetimeperiod .button{
    background: #008000;
}
.changetimeperiod .button:hover{
    background: #006800;
}
