.content{
    grid-template-columns: 1fr;
}

table {width: 100%; border-collapse: collapse; font-family: "Roboto", sans-serif; }
table thead tr {color: #ffffff; font-weight: bold; background: #990505;}
table tbody tr:nth-child(2n) {background: #474747;}
table tbody tr:hover {background: #585858;}
table td, table th{
    padding: 10px;
    border: 1px solid #141415;
}
table tr{
    border-radius: 10px;
}

.button-edit{
    background: #727872;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    padding: 4px;
    display: inline-block;
    margin-right: 5px;
    transition: 0.2s;
    border-radius: 5px;
}
.button-delete{
    background: #a62c2c;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    padding: 4px;
    display: inline-block;
    transition: 0.2s;
    border-radius: 5px;
}
.button-edit:hover{
    background: #a4a4a4;
}
.button-delete:hover{
    background: #d83c3c;
}

.tag{
    background: #8d958d;
    font-size: 12px;
    color: #000;
    text-decoration: none;
    padding: 4px;
    display: inline-block;
    margin-right: 5px;
    transition: 0.2s;
    border-radius: 5px;
}

.white{
    background: #aba6a6;
}

.c1{
    grid-template-columns: 1fr 1fr !important;
}

form{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    width: 40%;
}
form input[type="text"]{
    background: #6f6f6f;
    border: none;
    margin: 5px 0;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}
.roles{
    border: 1px solid #6f6f6f;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

form input[type="submit"] {
    background: #d5d5d5;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    border: none;
}

.delete{
    display: flex;
    align-items: center;
}
img{
    width: 60px;
    filter: invert(100%);
}
.delete_f{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-family: "Inter", sans-serif;
}

.buttons{
    display: flex;

}
.buttons a{
    margin-right: 15px;
    background: #efefef;
    color: #000;
    text-decoration: none;
    padding: 7px;
    border-radius: 10px;
    margin-top: 5px;
}

.button-confirm{
    background: #d84747 !important;
}